<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>模版语法</h1>
<div>{{ name }}</div> <!-- 调用view.tpl传输过来的参数-->
<div>{{ list }}</div>

<br>


<div>{{ list.0 }}</div>
<div>{{ list.1 }}</div>
<div>{{ list.2 }}</div>

<br>

<div>
    {# for / if-else 需要有结尾 endfor / endif #}
    {% for item in list %}
        <span>{{ item }}</span>
    {% endfor %}
</div>

<hr>

{{ user_info }}
<br>
{{ user_info.name }}
{{ user_info.salary }}

</body>
</html>